<a href="https://colab.research.google.com/github/MK316/Spring2023/blob/main/grouping_torevise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 💦 Random grouping

## [1] Import packages, read a file 

Note: Column name as "Names"

In [1]:
#@markdown Import packages
import pandas as pd
import numpy as np
import random

sample: https://raw.githubusercontent.com/MK316/Spring2023/main/data/att_sample.csv

sample2: https://raw.githubusercontent.com/MK316/Spring2023/main/Engpro/engpro_att.csv  

sample3: https://raw.githubusercontent.com/MK316/Spring2023/main/data/engling23_att.csv

sample4: https://raw.githubusercontent.com/MK316/Spring2023/main/DL/files/DL_att.csv

In [2]:
#@markdown Read attendance list, define grouping(l, n)
url = input()
df = pd.read_csv(url, encoding="cp949")
attlist = df.Names.values.tolist()

def grouping(l, n):
    for i in range(0, len(l), n):
        yield l[i:i + n]

df

https://raw.githubusercontent.com/MK316/Spring2023/main/DL/files/DL_att.csv

    NO         SID  Year Names
0    1  2019012539     2   여영록
1    2  2019012542     2   이강현
2    3  2020012456     2   강기륭
3    4  2020012463     2   김종욱
4    5  2020012471     2   안윤돈
5    6  2020012472     2   이경덕
6    7  2020012480     2   황승준
7    8  2021012464     2   김선빈
8    9  2022013192     2   강선유
9   10  2022013193     2   권영현
10  11  2022013194     2   김건희
11  12  2022013195     2   김미진
12  13  2022013196     2   김민영
13  14  2022013198     2   김오현
14  15  2022013199     2   김은혜
15  16  2022013200     2   김하빈
16  17  2022013201     2   마동환
17  18  2022013206     2   서다은
18  19  2022013207     2   손연우
19  20  2022013209     2   안소미
20  21  2022013210     2   안수민
21  22  2022013211     2   옥승민
22  23  2022013212     2   이다현
23  24  2022013213     2   이찬민
24  25  2022013214     2   임수연
25  26  2022013216     2   조정래
26  27  2022080242     4   이소영
27  28  2022080243     4   정인혜
28  29  2022090014     4   이정민
29  30  2021012510     3   방예원

## [2] Random grouping

In [3]:
#@markdown 🌀 Random grouping of size "n"
random.shuffle(attlist)

gsize = input("Size of each group: ")
gs = int(gsize)

mylist = list(grouping(attlist, gs))
ngroups = len(list(grouping(attlist, gs)))

print(mylist)
print("="*50)
print("Number of groups: %d in total."%ngroups)

gn = ngroups
gname = []
df1 = pd.DataFrame()
for i in range(0,gn):
  nam = "G" + str(i+1)
  gname.append(nam)

df1['Group'] = gname
df1['Members'] = mylist
df1

Size of each group: 4
[['조정래', '강기륭', '안소미', '황승준'], ['김종욱', '이소영', '마동환', '임수연'], ['손연우', '김오현', '정인혜', '옥승민'], ['김민영', '서다은', '여영록', '이찬민'], ['권영현', '방예원', '김하빈', '강선유'], ['이다현', '이강현', '김건희', '김미진'], ['안수민', '안윤돈', '이정민', '김선빈'], ['이경덕', '김은혜']]
==================================================
Number of groups: 8 in total.

  Group               Members
0    G1  [조정래, 강기륭, 안소미, 황승준]
1    G2  [김종욱, 이소영, 마동환, 임수연]
2    G3  [손연우, 김오현, 정인혜, 옥승민]
3    G4  [김민영, 서다은, 여영록, 이찬민]
4    G5  [권영현, 방예원, 김하빈, 강선유]
5    G6  [이다현, 이강현, 김건희, 김미진]
6    G7  [안수민, 안윤돈, 이정민, 김선빈]
7    G8            [이경덕, 김은혜]

In [5]:
df1

  Group               Members
0    G1  [조정래, 강기륭, 안소미, 황승준]
1    G2  [김종욱, 이소영, 마동환, 임수연]
2    G3  [손연우, 김오현, 정인혜, 옥승민]
3    G4  [김민영, 서다은, 여영록, 이찬민]
4    G5  [권영현, 방예원, 김하빈, 강선유]
5    G6  [이다현, 이강현, 김건희, 김미진]
6    G7  [안수민, 안윤돈, 이정민, 김선빈]
7    G8            [이경덕, 김은혜]

In [9]:
s1 = df1['Members'][0]
m1 = s1[0]
n1 = len(df1['Group'])

'조정래'

8

## [3] File saving and cleaning

In [ ]:
#@markdown Save the list to Google drive: 
from google.colab import drive
drive.mount('/content/drive')
fn = input('file name: ')
path = '/content/drive/My Drive/myclass/S2023/' + fn
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df1.to_csv(f, index=False)

print("="*50)
print("Saved file: ")
data = pd.read_csv(path)
print(data)
res = input("Unmount drive? (y or n)")

if res == "y":
  drive.flush_and_unmount()
else:
  print("Okay, the drive is still on.")